.section {
  padding: 94px 0;
}

.my-work {
  padding-top: 0px;
}

.my-comands {
  background-color: #f5f4fa;
}
.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--one-text-color);
}
