.filter-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--one-text-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-duration: var(--duration-сss-transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background: var(--two-text-color);
    color: var(--five-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filtres {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio .filtres li:not(:last-child) {
  margin-right: 8px;
}

.list {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.section__list {
  display: flex;
  justify-content: space-between;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -30px;
  margin-top: -30px;
}

.advantage-list {
  width: 270px;
}

.subscribe-card {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.crew-info {
  text-align: center;
  padding: 30px 0;
}
.section__list--crew {
  background-color: var(--five-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.color-footer .logo {
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--five-text-color);
  margin-bottom: 9px;
}

.logo-span-footer {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  color: var(--five-text-color);
}

.list-portfolio .example {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition-duration: var(--duration-сss-transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example:focus,
.example:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.exemple-link {
  transition-duration: var(--duration-сss-transition);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  text-decoration: none;
  transition: box-shadow var(--duration-сss-transition) cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.box-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--duration-сss-transition) cubic-bezier(0.4, 0, 0.2, 1);
  width: 370px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--five-text-color);

  .exemple-link:hover & {
    transform: translateY(0%);
  }
}
