.title-product {
  display: inline-block;
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.label {
  @include font(14px, 700, 16px);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--five-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
}
