.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--five-text-color);
}

.section__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
