:root {
  --one-text-color: #212121;
  --two-text-color: #2196f3;
  --three-text-color: #000000;
  --four-text-color: #757575;
  --five-text-color: #ffffff;
  --six-text-color: #2f303a;
  --duration-сss-transition: 250ms;
}
